.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100vw;
    height: 60px;
    background: greenyellow;
  }

  .navBut {
    display: flex;
    width: 100vw;
    gap: 20px;
  }